<h1>Edit Anime</h1>
<section>
    <form th:action="@{/edit/{id}(id=${anime.id})}" onsubmit="checkValue()" method="POST">
        <div>
            <label for="rating">Rating</label>
            <input type="text" id="rating" th:value="${anime.rating}" name="rating" />
            <label for="name">Name</label>
            <input type="text" id="name" th:value="${anime.name}" name="name" />
            <label for="description">Description</label>
            <input type="text" id="description" th:value="${anime.description}" name="description" />
            <label for="watched">Watched</label>
            <input type="checkbox" id="watched" name="watched" th:value="${anime.watched}" onclick="switchValue()" />
            <label for="watched" id="watched-label"></label>
            <button type="submit" class="accept">Edit</button>
            <button type="button" class="cancel" th:onclick="'location.href = \'' + @{/} + '\''">Cancel</button>
        </div>
    </form>
</section>

<script>
    //<![CDATA[
    function switchValue() {
        document.getElementById("watched").value =
            document.getElementById("watched").value === "watched" ? "not watched" : "watched";
    }

    function checkValue() {
        document.getElementById("watched").checked = true;
    }

    (function checkBox() {
        let checkbox = document.getElementById("watched");
        checkbox.checked = checkbox.value !== "not watched";
    })();
    //]]>
</script>