<div id="create-wrapper">
    <section class="create">
        <article>
            <form th:action="@{/edit/{id}(id=${task.id})}" method="POST">
                <div class="row">
                    <label for="task">Task:</label>
                    <input type="text" id="task" name="title" th:value="${task.title}" />
                </div>
                <div class="row">
                    <label for="comments">Comments:</label>
                    <input type="text" id="comments" name="comments" th:value="${task.comments}" />
                </div>
                <button type="submit">Edit</button>
            </form>
        </article>
    </section>
</div>