{% extends "base.html.twig" %}

{% block main %}
    <div class="wrapper">
        <div class="button-holder">
            <a type="button" href="/create" class="log-button">Create New Trip</a>
        </div>
        <div class="content">
            <div class="header">
                <div class="project-label">Origin</div>
                <div class="budget-label">Destination</div>
                <div class="actions-label">Actions</div>
            </div>
            <div class="main">
                {% for trip in trips %}
                    <div class="trip">
                        <div class="trip-origin">
                            {{ trip.origin }}
                        </div>
                        <div class="trip-destination">
                            {{ trip.destination }}
                        </div>
                        <div class="trip-actions">
                            <a type="button" href="{{ path('edit', {id: trip.id}) }}" class="edit-button">Edit</a>
                            <a type="button" href="{{ path('delete', {id: trip.id}) }}" class="delete-button">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}