<div class="wrapper">
    <form class="trip-create" method="post" th:action="@{/edit/{id}(id=${trip.id})}">
        <div class="create-header">
            Edit Trip
        </div>
        <div class="create-origin">
            <div class="create-origin-label">Origin</div>
            <input class="create-origin-content" name="origin" th:field="${trip.origin}" />
        </div>
        <div class="create-destination">
            <div class="create-destination-label">Destination</div>
            <input class="create-destination-content" name="destination" th:field="${trip.destination}" />
        </div>
        <div class="create-business">
            <div class="create-business-label">Business Class Price</div>
            <input type="number" min="0" class="create-business-content" name="business" th:field="${trip.business}" />
        </div>
        <div class="create-economy">
            <div class="create-economy-label">Economy Class Price</div>
            <input type="number" min="0" class="create-economy-content" name="economy" th:field="${trip.economy}" />
        </div>
        <div class="create-button-holder">
            <button type="submit" class="submit-button">Edit Trip</button>
            <a type="button" href="/" class="back-button">Back</a>
        </div>
    </form>
</div>