@model Calculator_CSharp.Models.Calculator

@{
    ViewBag.Title = "Calculator";
}

<div class="well">
    @using (Html.BeginForm("Calculate", "Home", FormMethod.Post, new { @class = "form-inline" }))
    {
        <fieldset>
            <div class="form-group">
                <div class="col-sm-1">
                    @Html.TextBoxFor(model => model.LeftOperand, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-16">
                    @Html.DropDownListFor(model => model.Operator,
                        new[] {
                            new SelectListItem { Text = "+", Value = "+" },
                            new SelectListItem { Text = "-", Value = "-" },
                            new SelectListItem { Text = "*", Value = "*" },
                            new SelectListItem { Text = "/", Value = "/" },
                            new SelectListItem { Text = "mod", Value = "mod" },
                            new SelectListItem { Text = "pow", Value = "pow" },
                            new SelectListItem { Text = "And", Value = "And" },
                            new SelectListItem { Text = "Or", Value = "Or" },
                            new SelectListItem { Text = "Xor", Value = "Xor" },
                            new SelectListItem { Text = "Not", Value = "Not" },
                            new SelectListItem { Text = "ShiftLeft", Value = "ShiftLeft" },
                            new SelectListItem { Text = "ShiftRight", Value = "ShiftRight" },
                            new SelectListItem { Text = "What is X% of Y", Value = "What is X% of Y" },
                            new SelectListItem { Text = "X is what % of Y", Value = "X is what % of Y" },
                            new SelectListItem { Text = "√X", Value = "√X" },
                            new SelectListItem { Text = "X!", Value = "X!" },
                        }, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.TextBoxFor(model => model.RightOperand, new { @class = "form-control"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 ">
                    <p>=</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    @Html.TextBoxFor(model => model.Result, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </div>
        </fieldset>
    }
</div>